﻿.cell {
    width:50px;
    height:50px;
}
.black {
    background-color: black;
}

.white {
    background-color: white;
}

.legalMove {
    background-color: azure;
}

.blackPawn {
   width: 45px; 
   height: 45px; 
   background-color: darkgrey; 
   -moz-border-radius: 25px; 
   -webkit-border-radius: 25px; 
   border-radius: 25px;
}

.whitePawn {
   width: 45px; 
   height: 45px; 
   background-color: lightyellow; 
   -moz-border-radius: 25px; 
   -webkit-border-radius: 25px; 
   border-radius: 25px;
}

.whitePawn.selected {
    background-color: whitesmoke;
}