﻿<!DOCTYPE html>
<html lang="en" ng-app="checkersClient" ng-controller="CheckersBoardCtrl">
<head>
    <title>CheckeRs</title>
    <link href="CSS/checkersBoard.css" rel="stylesheet">
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/checkers.js"></script>
</head>
<body>
    <form name="myForm" ng-hide="showGrid">
        <div>
            Insert your player name: <input name="input" type="text" required ng-model="player.name">
            <span ng-show="myForm.input.$error.required">
                Required!
            </span>
        </div>
        <button name="connect" ng-click="joinGame()">I want to play a game!</button>
    </form>
    <p ng-show="showGrid && myTurn">Your turn</p>
    <table ng-show="showGrid">
        <tr ng-repeat="row in rows">
            <td ng-click="move(column.id,row.id)" ng-repeat="column in row.columns" class="cell" ng-class="checkFill(column,row)">
                <div ng-class="findPawnClass(column.id,row.id)" ng-hide="findPawnColor(column.id,row.id) ==''" />
            </td>
        </tr>
    </table>
    <div ng-show="showGrid">
        <p>
            {{player.name}} : 
            <div ng-class="player.color"></div>
        </p>
    </div>
    <div ng-show="showGrid">
        <p>{{foe.name}} : <div ng-class="foe.color"></div>
        </p>
    </div>
</body>
</html>
